<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">As a manager for several years for various companies I noticed that each company either did not have a website, lacked internal systems to make the workflow easier for all, and if they had a website it looked like it was from the 90's. I decided to go to school where I graduated from California State University, Los Angeles with a bachelors in information systems, and afterwards receive intensive training in the LAMP stack, Ruby on Rails, and the MEAN stack from Coding Dojo. Now I help organizations with the many issues I experienced. </p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Ready to get Started?</a>
            </div>
        </div>
    </div>
</section>

