<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">As a manager for several years, I noticed that each company I worked for did not have a designed website and lacked the internal systems needed to make their work efficient. My passion for computers and systems inspired me to further my education. I earned a Bachelor’s degree in computer information systems from California State University, and have also received intensive training on programs such as LAMP stack, Ruby on Rails and MEAN from the Coding Dojo. With my education and training I am now able to help organizations address some of the issues I encountered in my previous work as a manager.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Ready to get Started?</a>
            </div>
        </div>
    </div>
</section>

